:root {
    --padding-header:20px;
}
* {
    box-sizing: border-box;
    font-family: arial;
    padding:0px;
    margin:0px;


}

a, a:active, a:visited {
    color:unset;
    text-decoration: none;
}

body {
    background-color: #F2F3D9;



}

h1, h3 {
    text-align: center;
}

h1 {
    margin-bottom:0px;
}
h3 {
    margin-top:0px;
}

.container {
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    padding:40px;
}

header {
    display: flex;
    background-color:black;
    color:white;

    justify-content: space-between;

}

header .logo {
    text-transform: uppercase;
    font-weight: bold;
    padding:var(--padding-header);

}
header nav {
    display: flex;


}
header nav a {
    padding:var(--padding-header);
    color:white;
    background-color:black;
    transition:background-color 0.5s ease-out;



}


header nav a:hover {
    background:grey;
}

section {
    margin-top:60px;
    display: flex;
    justify-content: space-around;
    max-width: 1200px;

}

section article {
    border-radius:5px;
    padding:10px;
    background-color:#C16E70;
    height:350px;
    flex-basis:280px;
    flex-shrink:1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height:20px;
    text-align: center;

    margin-left:20px;
    margin-right:20px;
}

section article:first-child {
    margin-left:0px;
}
section article:last-child {
    margin-right:0px;
}

