* {
    box-sizing: border-box;
    font-family: arial;
}

body {
    background-color: #F2F3D9;



}

h1, h3 {
    text-align: center;
}

h1 {
    margin-bottom:0px;
}
h3 {
    margin-top:0px;
}

.container {
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
}


section {
    margin-top:60px;
    display: flex;
    justify-content: space-around;
    max-width: 1200px;

}

section article {
    border-radius:5px;
    padding:10px;
    background-color:#C16E70;
    height:350px;
    flex-basis:280px;
    flex-shrink:1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height:20px;
    text-align: center;

    margin-left:10px;
    margin-right:10px;
}

section article:first-child {
    margin-left:0px;
}
section article:last-child {
    margin-right:0px;
}